<main>
  <section>
    <h3>Income</h3>
    <form action="/income" method="post">
      <label for="income">Enter your monthly take home income</label>
      <input type="number" name="income" id="income">
      <button>submit</button>
    </form>

    <p> There is  <strong>$<%= @income %></strong> to spend on needs, wants and savings. </p>
</section>
  <section>
    <h3> Needs: $<%= @needs %></h3>
    <form action="/new_needs" method="post">
      <label for="new_category"> Enter New Category</label>
      <input type="text" name="new_category" id="new_category">
      <input type="number" name="new_amount" id="amount">
      <button>Save</button>
    </form>
    <ol>
      <% @needs_hash.each do |category, amount| %>
        <li class="list-item-container"> <%= category%> : $<%= amount%>
            <form action="/edit_needs/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>Update Amount</button></form>
            <form action="/delete_needs" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Need </button></form>
        </li>
      <% end %>
    </ol>
    <hr>
    <p> Total Needs $<%= @needs_values_total %></p>
    <% if @needs - @needs_values_total >= 0 %>
      <p class="under-budget"> Under Budget by  $<%=  @needs - @needs_values_total %> </p>
    <% elsif @needs - @needs_values_total < 0 %>
      <p class="over-budget"> Over Budget by $<%=  (@needs - @needs_values_total).abs %> </p>
    <% end %>
</section>
<section>
    <h3>Wants: $<%= @wants %></h3>
    <form action="/new_wants" method="post">
      <label for="new_category"> Enter New Category</label>
      <input type="text" name="new_category" id="new_category">
      <input type="number" name="new_amount" id="amount">
      <button>Save</button>
    </form>
    <ol>
      <% @wants_hash.each do |category, amount| %>
        <li class="list-item-container"> <%= category%> : $<%= amount%>
          <form action="/edit_wants/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>Update Amount</button></form>
          <form action="/delete_wants" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Want </button></form>
        </li>
      <% end %>
    </ol>
    <hr>
    <p> Total Wants $<%= @wants_values_total %></p>
    <% if @wants - @wants_values_total >= 0 %>
      <p class="under-budget"> Under Budget by $<%=  @wants - @wants_values_total %>  </p>
    <% elsif @wants - @wants_values_total < 0 %>
      <p class="over-budget"> Over Budget $ <%= (@wants - @wants_values_total).abs %> </p>
    <% end %>
</section>
<section>
    <h3>Savings: $<%= @savings %></h3>
    <form action="/new_savings" method="post">
      <label for="new_category"> Enter New Category</label>
      <input type="text" name="new_category" id="new_category">
      <input type="number" name="new_amount" id="amount">
      <button>Save</button>
    </form>
    <ol>
      <% @savings_hash.each do |category, amount| %>
        <li class="list-item-container"> <%= category%> : $<%= amount%>
          <form action="/edit_savings/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>Update Amount</button></form>
          <form action="/delete_savings" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Saving </button></form>
        </li>
      <% end %>
    </ol>
    <hr>
    <p> Total Savings $<%= @savings_values_total %></p>
    <% if @savings - @savings_values_total >= 0 %>
      <p class="under-budget"> Under Budget by $<%=  @savings - @savings_values_total %> </p>
    <% elsif @savings - @savings_values_total < 0 %>
      <p class="over-budget"> Over Budget by $<%=  (@savings - @savings_values_total).abs %> </p>
    <% end %>
</section>
<section>
  <h3>Summary</h3>

  <% @spending = @income - (@needs_values_total + @wants_values_total + @savings_values_total) %>
  <% if @spending >= 0%>
    <p class="under-budget"> Under Budget by  $<%= @spending %> </p>
  <% else%>
    <p class="over-budget"> Over Budget by $<%= (@spending).abs %> </p>
  <% end %>
</section>
</main>

