<main>
  <form action="/income" method="post">
    <label for="income">Enter your monthly take home income</label>
    <input type="number" name="income" id="income">
    <button>submit</button>
  </form>

  <p> You have $<%= @income %> to spend on needs, wants and savings. </p>

  <p> -------- Needs -------- </p>

  <p> Currently your allotted amount for needs is $<%= @needs %></p>
  <form action="/new_needs" method="post">
    <label for="new_category"> Enter a new Category Here</label>
    <input type="text" name="new_category" id="new_category">
    <input type="number" name="new_amount" id="amount">
    <button>save category and amount</button>
  </form>
  <ol>
    <% @needs_hash.each do |category, amount| %>
      <li> <%= category%> : $<%= amount%>
        <form action="/edit_needs/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>save new value</button></form>
        <form action="/delete_needs" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Need </button></form>
      </li>
    <% end %>
  </ol>
  <p> Total Needs $<%= @needs_values_total %></p>
  <% if @needs - @needs_values_total >= 0 %>
    <p> You have $<%=  @needs - @needs_values_total %> left over</p>
  <% elsif @needs - @needs_values_total < 0 %>
    <p> You are $<%=  (@needs - @needs_values_total).abs %>  over</p>
  <% end %>

  <p> -------- Wants -------- </p>

  <p> Currently your allotted amount for wants is $<%= @wants %></p>
  <form action="/new_wants" method="post">
    <label for="new_category"> Enter a new Category Here</label>
    <input type="text" name="new_category" id="new_category">
    <input type="number" name="new_amount" id="amount">
    <button>save category and amount</button>
  </form>
  <ol>
    <% @wants_hash.each do |category, amount| %>
      <li> <%= category%> : $<%= amount%>
        <form action="/edit_wants/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>save new value</button></form>
        <form action="/delete_wants" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Want </button></form>
      </li>
    <% end %>
  </ol>
  <p> Total Wants $<%= @wants_values_total %></p>
  <% if @wants - @wants_values_total >= 0 %>
    <p> You have $<%=  @wants - @wants_values_total %> left over</p>
  <% elsif @wants - @wants_values_total < 0 %>
    <p> You are $<%=  (@wants - @wants_values_total).abs %>  over</p>
  <% end %>

  <p> -------- Savings -------- </p>

  <p> Currently your allotted amount for savings is $<%= @savings %></p>
  <form action="/new_savings" method="post">
    <label for="new_category"> Enter a new Category Here</label>
    <input type="text" name="new_category" id="new_category">
    <input type="number" name="new_amount" id="amount">
    <button>save category and amount</button>
  </form>
  <ol>
    <% @savings_hash.each do |category, amount| %>
      <li> <%= category%> : $<%= amount%>
        <form action="/edit_savings/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>save new value</button></form>
        <form action="/delete_savings" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Saving </button></form>
      </li>
    <% end %>
  </ol>
  <p> Total Savings $<%= @savings_values_total %></p>
  <% if @savings - @savings_values_total >= 0 %>
    <p> You have $<%=  @savings - @savings_values_total %> left over</p>
  <% elsif @savings - @savings_values_total < 0 %>
    <p> You are $<%=  (@savings - @savings_values_total).abs %>  over</p>
  <% end %>

  <p> -------- Summary -------- </p>

  <% @spending = @income - (@needs_values_total + @wants_values_total + @savings_values_total) %>
  <% if @spending >= 0%>
    <p> You have a surplus of $<%= @spending %> </p>
  <% else%>
    <p> You are $<%= (@spending).abs %> over your budget</p>
  <% end %>

</main>

