<main>
  <form action="/income" method="post">
    <label for="income">Enter your monthly take home income</label>
    <input type="number" name="income" id="income">
    <button>submit</button>
  </form>

  <p> needs is <%= @needs %></p>
  <form action="/new_needs" method="post">
    <label for="new_category"> Enter a new Category Here</label>
    <input type="text" name="new_category" id="new_category">
    <input type="number" name="new_amount" id="amount">
    <button>save category and amount</button>
  </form>
  <ol>
    <% @needs_hash.each do |category, amount| %>
      <li> <%= category%> : $<%= amount%> 
        <form action="/edit_needs/<%= category %>" method="post"> <label for="new_val"></label> <input type="number" name="new_val" id="new_val"> <button>save new value</button></form> 
        <form action="/delete_needs" method="post"> <input type="hidden" name="category" value="<%= category %>"><button>Delete Need </button></form>
      </li>
    <% end %>
  </ol>
  <p> Total Needs $<%= @needs_values_total %></p>
<% if @needs - @needs_values_total > 0 %>
  <p> You have <%=  @needs - @needs_values_total %> left over</p>
<% elsif @needs - @needs_values_total < 0 %>
  <p> You are <%=  @needs - @needs_values_total %>  over</p>
<% end %>
  <p> wants is <%= @wants %></p>
  <p> savings or debt repayment  is <%= @savings %></p>
</main>